{% extends "::base.html.twig" %}

{% block content %}
    <div class="container">
        <p>{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</p>
    </div>
{% endblock content %}
