{% extends "::base.html.twig" %}

{% block content %}
    <div class="container">
        {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
    </div>
{% endblock  content %}
