{% extends "::base.html.twig" %}

{% block content %}
    <div class="container">
        <p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
    </div>
{% endblock content %}
